.weather_panel{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height:50rem;
    background-color: rgb(48, 42, 82);
}
.temp_form{
    position: absolute;
    top:2rem
}
p,h3,h2,label{
    color: rgb(255, 255, 255);
}
.top{
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 2rem;
}